[variables]
NODE_ENV = "production"
NIXPACKS_NODE_VERSION = "20"
NPM_CONFIG_FUND = "false"
NPM_CONFIG_UPDATE_NOTIFIER = "false"

[phases.install]
cmds = ["npm ci"]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "npm start"
